/* Edition de l'index */
body{ /*Couleur de fond*/
    background-color: #ECECEE;
}

form{ /*Centrage des textes*/
    text-align: left;
    margin: 20px;
}

div.titre{ /*Augmentation de l'espace où se trouve le titre*/
    padding: 20px 100px;
}

h1{ /*Modification du tritre*/
    font-family: "Klima", "Open Sans", Helvetica, Arial, sans-serif;
    text-align: center;
}

h2.connection{ /*Modifie les titres connectez vous et inscrivez vous*/
    font-size: 25px;
    padding: 10px;
    font-family: "Klima", "Open Sans", Helvetica, Arial, sans-serif;
}

.text{
    font-family: "Klima", "Open Sans", Helvetica, Arial, sans-serif;
    margin-left: 10px;
}
input{
    margin: 1px;
}