body{
    background-color: #ECECEE;
}
h1{
    text-align: center;
    font-family: "Klima", "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 3rem;
}
.professeur{
    font-family: "Klima","open sans",Helvetica,Arial,sans-serif;
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
}
.nom{
    text-decoration: underline;
}
.cours{
    overflow: hidden;
    background-color: #ECECEE;
    background-position: bottom;
    background-repeat: repeat-x;
}
.cours ul{
    list-style: none;
    background: #6A5ACD;
    font-family: "Klima", "Open Sans", Helvetica, Arial, sans-serif;
    color: #fff;
    margin-left: 50px;
    padding: 10px 35px 10px 7px;
    border-radius: 10px;
    text-decoration: none;
    display : inline-block;
}
.cours li{
    float: left;
    margin-left: 30px;
}

.cours li a{
    text-decoration:none;
    color: white;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: right;
    text-align: right;
    align-items: right;
    flex-wrap: wrap;
}

.cours ul:hover{
    background: #61259e;
    font-size: 105%;
}

.contenucours{
    display: none;
}

.contenucours:target{
    display: block;
}