body{
    background-color: #ECECEE;
  }
  h1{
      text-align: center;
      font-family: "Klima", "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 3rem;
  }
  
  .eleve{
    font-family: "Klima","open sans",Helvetica,Arial,sans-serif;
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
  }

  .GP{
      font-size:large;
      font-family: "Klima", "Open Sans", Helvetica, Arial, sans-serif;
      cursor: pointer;
      border: 0;
      box-shadow: inset 0 0 0 1px #BBEDA4;
      padding: .625rem 1.5rem .85rem;
      border-radius: 1.3125rem;
      color:black;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 3rem;
      min-width: 15rem;
      font-size: 1rem;
      letter-spacing: .025rem;
      line-height: 1.25rem;
      font-weight: 400;
      box-sizing: border-box;
      margin: 10px;
      background-color: #BBEDA4;    
  }
  
  .GP:hover{
    background: #BABABB;
    box-shadow: #BABABB ;
  }
  
  .barre{
    font-size:large;
    font-family: "Klima", "Open Sans", Helvetica, Arial, sans-serif;
    border: 0;
    box-shadow: inset 0 0 0 1px black;
    padding: .625rem 1.5rem .85rem;
    border-radius: 1.3125rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3rem;
    min-width: 15rem;
    font-size: 1rem;
    letter-spacing: .025rem;
    line-height: 1.25rem;
    font-weight: 400;
    box-sizing: border-box;
    
  }
  
  .UP{
      list-style: none;
      font-size:large;
      cursor: pointer;
      font-family: "Klima", "Open Sans", Helvetica, Arial, sans-serif;
      border: 0;
      box-shadow: inset 0 0 0 1px #CACACB;
      padding: .625rem 1.5rem .85rem;
      border-radius: 1.3125rem;
      color:black;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 3rem;
      min-width: 15rem;
      font-size: 1rem;
      letter-spacing: .025rem;
      line-height: 1.25rem;
      font-weight: 400;
      box-sizing: border-box;
      margin:10px;
  }
  
  .UP:hover{
    background: #BABABB;
    box-shadow: #BABABB ;
  }
  
  .moyenne{
    font-size:large;
    font-family: "Klima", "Open Sans", Helvetica, Arial, sans-serif;
    border: 0;
    box-shadow: inset 0 0 0 1px black;
    padding: .625rem 1.5rem .85rem;
    border-radius: 1.3125rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3rem;
    min-width: 15rem;
    font-size: 1rem;
    letter-spacing: .025rem;
    line-height: 1.25rem;
    font-weight: 400;
    box-sizing: border-box;
    margin: 10px;
  }
  
  .info_GP{
    cursor: pointer;
    background: #8C8D8E;
    display: inline-flex;
    font-size:large;
    font-family: "Klima", "Open Sans", Helvetica, Arial, sans-serif;
    border: 0;
    box-shadow: inset 0 0 0 1px #8C8D8E;
    padding: .625rem 1.5rem .85rem;
    border-radius: 1.3125rem;
    color: black;
    align-items: center;
    justify-content: center;
    min-height: 2rem;
    min-width: 6rem;
    font-size: 1rem;
    letter-spacing: .025rem;
    line-height: 1.25rem;
    font-weight: 400;
    box-sizing: border-box;
    margin: 5px;
    margin-left: 3rem;
  }

  .info_GP:hover{
    background: #CACACB;
    
  }
  .note{
    font-family: "Klima", "Open Sans", Helvetica, Arial, sans-serif;
  }
  .cd-accordion__item{
    list-style: none;
    
  }
  .cd-accordion__input { /*hide native checkbox*/
      position: absolute;
      opacity: 0;
    }
    
    .cd-accordion__label {
      position: relative;
      display: flex;
      align-items: center;
      padding: var(--space-sm) var(--space-md);
      background: var(--cd-color-1);
      box-shadow: inset 0 -1px lightness(var(--cd-color-1), 1.2);
      color: var(--color-white);
    }
    .cd-accordion__sub {
      display: none; /* by default hide all sub menus*/
    }
    
    .cd-accordion__input:checked ~ .cd-accordion__sub { /* show children when item is checked*/
      display: block;
    }
